nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

main {
  padding: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.banner-box {
  position: relative;
  width: 100%;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-box .banner-title-box {
  position: absolute;
  width: 80%;
  height: max-content;
  z-index: 1;
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  color: var(--color-primary);
  text-align: center;
}

.banner-box .banner-title-box h2 {
  font-size: clamp(20px, 3vw, 30px);
}

.banner-box .banner-title-box h1 {
  text-transform: uppercase;
  font-size: clamp(32px, 6vw, 60px);
}

.banner-box .banner-title-box .nowrap {
  color: var(--color-primary);
  text-wrap: nowrap;
}

.banner-box .banner-title-box span {
  color: var(--accent);
}

.banner-box .bg-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000070;
  z-index: 1;
}

.banner-box picture {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-box picture img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.homeSection {
  padding: 18vh 4vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSection h1 {
  font-size: 40px;
  font-family: 'Chronicle Display', sans-serif;
}

.homeSection > div {
  width: 80%;
  border-bottom: 1px var(--bg-secondary) solid;
}

.homeSection .first-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
}

.first-section .first-block {
  flex: 1 1 450px;
}

.first-section .first-block h1 {
  padding-bottom: 14px;
}

.first-section .first-block p {
  font-size: clamp(16px, 5vw, 17px);
  font-family: 'Whitney A', sans-serif;
  padding-right: 100px;
}

.first-section .second-block {
  font-family: 'Public Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1 450px;
  position: relative;
}

.first-section .second-block div {
  border-bottom: 1px var(--bg-secondary) solid;
  padding-bottom: 20px;
}

.first-section .second-block div:nth-child(3) {
  border-bottom: none;
}

.first-section .second-block h3 {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 3px 0;
  color: var(--color-secondary);
}

.first-section .second-block p {
  font-family: 'Chronicle Display', sans-serif;
  font-weight: 200;
  font-size: clamp(16px, 5vw, 17px);
}

.homeSection .second-section {
  position: relative;
  display: flex;
  padding: 100px 0 120px 0;
  flex-wrap: wrap;
}

.homeSection .second-section p {
  font-size: clamp(15px, 5vw, 17px);
  font-family: 'Whitney A', sans-serif;
}

.homeSection .second-section h1 {
  padding-bottom: 14px;
  font-size: clamp(25px, 5vw, 40px);
}

.homeSection .second-section img {
  width: 40%;
  object-fit: contain;
}

.homeSection .second-section .mision-info {
  padding: 5vw 5vw 0 5vw;
  flex: 1 1 200px;
}

.homeSection .second-section .mision-info-card {
  background: var(--color-primary);
  padding: 30px 50px;
  box-shadow: 0 0 10px #00000069;
  border-top: 5px solid var(--color-secondary);
  border-radius: 0 0 5px 5px;
  position: absolute;
  right: 70px;
  bottom: 70px;
  width: 50%;
}

.homeSection .second-section .mision-info-card p {
  font-size: clamp(16px, 5vw, 17px);
}

.homeSection .second-section .mision-info h3 {
  font-family: 'Chronicle Display', sans-serif;
  font-size: clamp(16px, 5vw, 18px);
  padding-bottom: 10px;
}

.homeSection .third-section {
  height: 600px;
  background: var(--bg-secondary);
  width: 120%;
}

@media (max-width: 1435px) {
  .homeSection .second-section .mision-info-card {
    position: static;
    flex: 0 1 100%;
    margin-top: 15px;
  }
}

@media (max-width: 1291px) {
  .first-section .first-block h1 {
    text-align: center;
  }

  .first-section .first-block p {
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  .homeSection > div {
    width: 100%;
  }
}